@font-face {font-family: "iconfont";
  src: url('./iconfont.eot'); /* IE9 */
  src: url('./iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff2') format('woff2'),
  url('./iconfont.woff') format('woff'),
  url('./iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./iconfont.svg') format('svg'); /* iOS 4.1- */
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-integral:before {
  content: "\e6f9";
}

.icon-pic:before {
  content: "\e6ff";
}

.icon-Notvisible:before {
  content: "\e6fe";
}

.icon-play:before {
  content: "\e701";
}

.icon-rising:before {
  content: "\e703";
}

.icon-all-fill:before {
  content: "\e718";
}

.icon-favorites-fill:before {
  content: "\e721";
}

.icon-play-fill:before {
  content: "\e72f";
}

.icon-prompt-fill:before {
  content: "\e730";
}

.icon-add:before {
  content: "\e742";
}

.icon-add-cart:before {
  content: "\e743";
}

.icon-arrow-right:before {
  content: "\e744";
}

.icon-arrow-left:before {
  content: "\e745";
}

.icon-arrow-up:before {
  content: "\e746";
}

.icon-bad:before {
  content: "\e747";
}

.icon-browse:before {
  content: "\e748";
}

.icon-category:before {
  content: "\e749";
}

.icon-close:before {
  content: "\e74a";
}

.icon-conditions:before {
  content: "\e74b";
}

.icon-confirm:before {
  content: "\e74c";
}

.icon-copy:before {
  content: "\e74d";
}

.icon-cry:before {
  content: "\e74e";
}

.icon-double-arro-right:before {
  content: "\e74f";
}

.icon-download:before {
  content: "\e750";
}

.icon-ellipsis:before {
  content: "\e751";
}

.icon-email:before {
  content: "\e752";
}

.icon-falling:before {
  content: "\e753";
}

.icon-good:before {
  content: "\e754";
}

.icon-leftarrow:before {
  content: "\e755";
}

.icon-link:before {
  content: "\e756";
}

.icon-loading:before {
  content: "\e757";
}

.icon-password:before {
  content: "\e75b";
}

.icon-play1:before {
  content: "\e75d";
}

.icon-return:before {
  content: "\e75f";
}

.icon-rising1:before {
  content: "\e761";
}

.icon-Rightarrow:before {
  content: "\e762";
}

.icon-save:before {
  content: "\e763";
}

.icon-seleted:before {
  content: "\e764";
}

.icon-service:before {
  content: "\e765";
}

.icon-Rightbutton:before {
  content: "\e766";
}

.icon-sound-filling:before {
  content: "\e767";
}

.icon-success:before {
  content: "\e768";
}

.icon-switch:before {
  content: "\e769";
}

.icon-suspended:before {
  content: "\e76a";
}

.icon-Top:before {
  content: "\e76b";
}

.icon-smile:before {
  content: "\e76c";
}

.icon-viewlarger:before {
  content: "\e76d";
}

.icon-voice:before {
  content: "\e774";
}

.icon-bad-fill:before {
  content: "\e779";
}

.icon-atm-fill:before {
  content: "\e77a";
}

.icon-cart-full-fill:before {
  content: "\e77b";
}

.icon-cart-Empty-fill:before {
  content: "\e77c";
}

.icon-listing-content-fill:before {
  content: "\e782";
}

.icon-map:before {
  content: "\e786";
}

.icon-play-fill1:before {
  content: "\e787";
}

.icon-reduce-fill:before {
  content: "\e788";
}

.icon-reeor-fill:before {
  content: "\e789";
}

.icon-prompt-fill1:before {
  content: "\e78a";
}

.icon-resonserate-fill:before {
  content: "\e78b";
}

.icon-Rightbutton-fill:before {
  content: "\e78c";
}

.icon-store-fill:before {
  content: "\e78d";
}

.icon-smile-fill:before {
  content: "\e78e";
}

.icon-success-fill:before {
  content: "\e78f";
}

.icon-sound-filling-fill:before {
  content: "\e790";
}

.icon-sound-Mute:before {
  content: "\e791";
}

.icon-suspended-fill:before {
  content: "\e792";
}

.icon-set:before {
  content: "\e793";
}

.icon-Top-fill:before {
  content: "\e794";
}

.icon-viewlarger1:before {
  content: "\e795";
}

.icon-voice-fill:before {
  content: "\e796";
}

.icon-warning-fill:before {
  content: "\e797";
}

.icon-collection:before {
  content: "\e79d";
}

.icon-collection-fill:before {
  content: "\e79e";
}

.icon-topraning-fill:before {
  content: "\e79f";
}

.icon-consumption:before {
  content: "\e7a0";
}

.icon-messagecenter-fill:before {
  content: "\e7a2";
}

.icon-account-fill:before {
  content: "\e7aa";
}

.icon-home-fill:before {
  content: "\e7ae";
}

.icon-add-select:before {
  content: "\e7b0";
}

.icon-sami-select:before {
  content: "\e7b1";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-account:before {
  content: "\e7b3";
}

.icon-favorites:before {
  content: "\e7b4";
}

.icon-search:before {
  content: "\e7b5";
}

.icon-usercenter:before {
  content: "\e7b6";
}

.icon-microphone:before {
  content: "\e7bf";
}

.icon-shouqi:before {
  content: "\e7d3";
}

.icon-zhankai:before {
  content: "\e7d4";
}

.icon-tongxunlu:before {
  content: "\e7d5";
}

